h1{
  text-align: center;
  text-transform: uppercase;
  color: darkred;
}
form{
  text-align: center;
}
p{
  text-align: center;
}
.text-box {
    border: 7px solid black ;
    padding: 25px;
    margin: 20px;
    background-color: salmon;
  }
  body{
    background-color: lightblue;
  }
